body{
	background-color: #CDE7B0;
	height:100vh;
	font-family: sans-serif;


}

.row .col {
	padding:0;
}

ul:not(.browser-default) li{
    padding:0;
    list-style-type: square;
}


.topPortion{
	background-color: #7286A0;
	text-align: center;
	margin:0;
	padding:0;
	border-bottom: 2px solid #536275;


}

.topSpace{
	/*height:100%;*/

}


.title{
	font-size:6vh;
	margin:0;
	padding:0;
	text-decoration: underline;
}


.explanation{
	
	font-size: 2vh;
	margin:0;
	padding:0;
	font-family: cursive;
	
}


.middlePortion{
	height: 90vh;
	margin:0;
	padding:0;
}

.mainSpace{
	background-color:white;
	height:100%;
	margin:0;
	padding:0;
	border:0.4px solid lightyellow;

}

.mainSide{
	background-color:#A8BE91;
	margin:0;
	padding:0;
	height:100%;

}



.formSpace{
	margin:0;
	padding:0;

}


.formSideBar{
	border: 1px solid black;
	margin:0;
	padding:0;
	padding-left:0;
	padding-right:0;
	background-color: lightgrey;

}

.mainSpaceHeader{
	margin:0;
	margin-left:1px;
	padding:0;
	text-decoration: underline;
	color:darkblue;
	text-align: center;

}


.bScholesHeader{
	font-size: 3vh;
	text-align: center;

}

.formulaImage{
	border: 0.5px solid black;
	height:100%;
	width:90%;
	padding:0;
	margin-left:10px;
	margin-right:50%;


	
}

.informationList{
	margin:0;
	padding:0;
	margin-left:10px;


}

.informationList li{
	font-size: 2vh;
	
}

.bsListItem{
	font-size: 1vh;


}

.formInputArea{
	border: 1px solid black;
	margin-left: 1px;
	padding:0;	

}


.rowForm{
	padding:0;
	margin:0;
	display: flex;
}

.input-field{

	margin:0;
	padding:0;
}

.searchResultList{
	margin:0;
	padding:0;
	overflow-y: auto;
	border: 0.5px solid darkblue;
	display: none;
	height:20vh;

}

.stockChoiceArea{
	display:flex;

}

#searchStockInputButton{
	width: 40%;
	font-size: 2vh;
	margin-left: 1px;
	text-align: center;

}

.stockOptionLi{
	font-size: 2vh;
}

.stockButton{
	width:100%;
	height:5vh;
	text-align: center;
	border-radius: 0.5px;
	font-size: 60%;

}

.nameAndInput{

	margin:auto;
}

input[type=text]{
	font-size:3vh;
	height:4vh;
	margin:0;
	padding:0;
}

.inputName{
	font-size:3vh;
	font-weight: bold;
}


.tInput{
	font-size: 2vh;
	width: 40%;

}

.submitButtonRow{

	text-align:center;
	margin-bottom:2px;
	margin-top: 5px;
}

.submitButton{
	border: solid darkblue 1px;
	border-radius: 6px;
}

.submitButton:hover{

	background-color: lightblue;

}

.row .col.s6 {
	width:40%;
}

