<!DOCTYPE html>

<html>
	<head>
		<title>Options Pricer</title>


		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="../static/css/home.css">
	</head>

	<body>
		<div class="row topPortion">
			<div class="col s1"></div>
			<div class="col s10 topSpace">
				<div>
				<p class="title"> Options Pricer </p> 
				<p class="explanation"> Welcome to the Options Pricer! </p>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row middlePortion">
			<div class="col s1 mainSide"></div>
			<div class="col s10 mainSpace">

			</div>
			<div class="col s1 mainSide"></div>

		</div>







		<script src="../static/js/home.js"></script>
	</body>
</html>