<!DOCTYPE html>

<html>
	<head>
		<title>Options Pricer</title>


		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="../static/css/home.css">
	</head>

	<body>
		<div class="row topPortion">
			<div class="col s1"></div>
			<div class="col s10 topSpace">
				<div>
				<p class="title"> Options Pricer </p> 
				<p class="explanation"> Welcome to the Options Pricer! </p>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row middlePortion">
			<div class="col s1 mainSide"></div>
			<div class="col s10 mainSpace">
				<div class="row formSpace">
					<div class="col s5 formSideBar">
						<p class="mainSpaceHeader">Info:</p>
						<p class="bScholesHeader"> Black-Scholes Formula</p>
						<image class="formulaImage" src="../static/images/blackscholes.png" width=100% height=100%>
						<ul class="informationList">
							<li class="bsListItem"> Created by: Fischer Black, Myron Scholes and Robert Merton</li>
							<li class="bsListItem"> Introduced in: 1973</li>
							<li class="bsListItem"> Test</li>
							<li class="bsListItem"> Information Brought to you by: <a target="_blank"href="http://www.investopedia.com/university/options-pricing/black-scholes-model.asp"> Investopedia</a></li>
						</ul>
					</div>
					<div class="col s7 formInputArea">
						<p class="mainSpaceHeader">Please input information below:</span>
						<form>
							<div class="row rowForm">
								<div class="col s6 nameAndInput">
								<span class="inputName"> Stock Ticker </span>
									<div class="stockChoiceArea">
		          						<input placeholder="Stock Ticker" id="tickerInput" type="text" class="inputClass" required>
		          						<button id="searchStockInputButton"> Search </button>
	          						</div>
	          					</div>
	          					<div class="col s6 nameAndInput">
	          						<span class="inputName"> Maturity </span>
	          						<input placeholder="Maturity (in years)" id="maturityInput" type="text" class="inputClass" required>
	          					</div>
	      					</div>
	      					<div class="row rowForm">
								<div class="col s6 nameAndInput">
									<ul class="searchResultList" id="searchResultList">
	<!-- 									<li class="stockOptionLi"> <button class="stockButton">Stock Result #1 </button></li>
										<li class="stockOptionLi"> <button class="stockButton">Stock Result #2 </button> </li> -->
									</ul>
									<span class="inputName"> Strike Price </span>
	          						<input placeholder="Strike Price" id="strikeInput" type="text" class="inputClass" required>
	          					</div>
	          					<div class="col s6 nameAndInput">
	          						<span class="inputName"> Risk-Free Interest Rate </span>
	          						<input placeholder="Risk-Free Interest Rate" id="rfRateInput" type="text" class="inputClass" required>
	          					</div>
	      					</div>
	      					<div class="row rowForm">
								<div class="col s12 submitButtonRow">
									<input  id ="priceButton" class="submitButton" type="submit" value="Price!">
	          					</div>
	      					</div>
      					</form>
					</div>
				</div>
			</div>
			<div class="col s1 mainSide"></div>

		</div>







		<script src="../static/js/home.js"></script>
	</body>
</html>