<!DOCTYPE html>

<html>
	<head>
		<title>Options Pricer</title>


		<link rel="stylesheet" href="../static/css/home.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	</head>

	<body>
		<div class="row topPortion">
			<div class="col s1"></div>
			<div class="col s10 titleSpace">
				<span class="title"> Options Pricer </span> <span class="explanation"> Welcome to the Options Pricer! </span>
			</div>
			<div class="col s1"></div>
		</div>







		<script src="../static/js/home.js"></script>
	</body>
</html>